.cache
.history
.target
.classpath
.project
bin/
.settings
target/
.scala_dependencies
lib/
project/target/
project/project/
project/plugins/project/
project/plugins/target/
.idea*
*.iml
src/test/resources/jacocoTest/target
src/test/resources/jacocoTest/project/target
