.cache
.history
.target
.classpath
.project
bin/
.settings
target/
.scala_dependencies
project/target/
project/project/
project/plugins/project/
project/plugins/target/
.idea*
*.iml
src/test/resources/*/target
src/test/resources/*/project/target
src/test/resources/*/log