name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build_scala2_12:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 8, 17 ]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Java
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: ${{matrix.java-version}}
    - name: Coursier cache
      uses: coursier/cache-action@v6
    - name: Build and test
      run: sbt -v -Dfile.encoding=UTF-8 clean scalafmtCheckAll headerCheck test scripted makeSite
