name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build_scala2_12:
    runs-on: ubuntu-latest
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17 ]
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{matrix.java-version}}
    - name: Coursier cache
      uses: coursier/cache-action@v6
    - uses: sbt/setup-sbt@v1
    - name: Build and test
      shell: bash
      run: sbt -v clean scalafmtCheckAll headerCheck test scripted
    - name: Build site
      if: ${{ matrix.java-version == 8 }}
      shell: bash
      run: sbt -v makeSite
