name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build_scala2_12:
    runs-on: ubuntu-latest
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 25 ]
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{matrix.java-version}}
    - name: Coursier cache
      uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - name: Build and test
      shell: bash
      run: sbt -v clean "+ scalafmtCheckAll" "+ headerCheckAll" "+ test" scripted
    - name: Build site
      if: ${{ matrix.java-version == 11 }}
      shell: bash
      run: sbt -v makeSite
    - if: ${{ github.repository_owner == 'sbt' && github.ref == 'refs/heads/main' && github.event_name == 'push' && matrix.java-version == 11 }}
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
      with:
        folder: target/site
