name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build_sbt_1_0:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      # setup build environment
    - uses: coursier/cache-action@v6
    - uses: olafurpg/setup-scala@v13
    - name: sbt test and packagedArtifacts for sbt 1.x
      run: |
        sbt test packagedArtifacts
    - name: sbt Publish for sbt 1.x
      run: |
        echo 'sbt ci-release'
        sbt ci-release
      env:
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
