name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build_sbt_1_0:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      # setup build environment
      - uses: coursier/cache-action@v7
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
      - uses: sbt/setup-sbt@v1
      - name: sbt test and packagedArtifacts for sbt 1.x
        run: |
          sbt test packagedArtifacts
      - name: sbt Publish for sbt 1.x
        run: |
          echo 'sbt ci-release'
          sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
